<div class="row">
  
  <!-- Search bar -->
  <div class="col">
    <div class="card" id="search-card">
      <div class="card-header">Search Users</div>
      <div class="card-body" id="search-body">
        <!-- Search input field -->
        <div class="input-group mb-3">
          <input #searchbox (keyup.enter)="search(searchbox.value)" type="text" class="form-control" placeholder="Find username">
          <div class="input-group-append">
            <button (click)="search(searchbox.value)" class="input-group-text btn btn-secondary" id="search-append"> 
                <i class="material-icons">search</i>
            </button>
          </div>
        </div>
        <hr/>

        <div class="user-boxes scrollbar-gray">
          <!-- Users appear here-->
          <div *ngFor="let user of userQuery">
            <div class="media border p-3" style="max-height: 60px; margin-top: 5px;">
                <i class="material-icons" style="color: rgb(148, 148, 207);">account_circle</i>
                <!-- <img src="../../../favicon.ico" alt="John Doe" class="align-self-center"> -->
                <div class="media-body align-self-center">
                  <p class="user-details" style="margin: auto; margin-left: 10px;">
                    <b>{{user.fullName}}</b><br>
                    {{user.username}}
                  </p>
                </div>

                <button *ngIf="friendStatusOf(user.username)=='none'" (click)="addFriend(user.username)" class="btn btn-success" id="add-friend"> 
                    <i class="material-icons">person_add</i>
                </button>

                <button *ngIf="friendStatusOf(user.username)=='current'" (click)="deleteFriend(user.username)" class="btn btn2" id="delete"> 
                    <i class="material-icons">clear</i>
                </button>

                <button *ngIf="friendStatusOf(user.username)=='incoming'" (click)="deleteFriend(user.username)" style="margin-right: 5px;" class="btn btn2" id="delete"> 
                    <i class="material-icons">clear</i>
                </button>

                <button *ngIf="friendStatusOf(user.username)=='incoming'" (click)="addFriend(user.username)" class="btn btn2" id="approve"> 
                    <i class="material-icons">check</i>
                </button>

                <button *ngIf="friendStatusOf(user.username)=='sent'" (click)="deleteFriend(user.username)" class="btn btn2" id="delete"> 
                    <i class="material-icons">clear</i>
                </button>
              </div>
          </div>
        </div>

      </div> 
    </div>
  </div>

  <!-- Friend bar -->
  <div class="col">
    <div class="card" id="friend-card">
      <div class="card-header">Friends</div>
      <div class="card-body">
          <div style="text-align:center;">
            <div class="btn-group">
                <button (click) = "tabSelector('current')" type="button" class="btn btn-outline-info rbn" 
                [ngClass]="{'btn-active': tabSetting=='current'}" 
                >Current</button>
                <button (click) = "tabSelector('incoming')" type="button" class="btn btn-outline-info rbn"
                [ngClass]="{'btn-active': tabSetting=='incoming'}" 
                >Incoming</button>
                <button (click) = "tabSelector('sent')" type="button" class="btn btn-outline-info rbn"
                [ngClass]="{'btn-active': tabSetting=='sent'}"  
                style="padding-left: 20px; padding-right: 20px;">Sent</button>
            </div>
          </div>
          <hr/>
      
          <!-- Current friends appear here-->
          <div class="user-boxes scrollbar-gray">
              <!-- Users appear here-->
            <div *ngFor="let friend of friendList">
              <div class="media border p-3" style="max-height: 60px; margin-top: 5px;">
                  <i class="material-icons" style="color: rgb(148, 148, 207);">account_circle</i>
                  <!-- <img src="../../../favicon.ico" alt="John Doe" class="align-self-center"> -->
                  <div class="media-body align-self-center">
                    <p class="user-details" style="margin: auto; margin-left: 10px;">
                      <b>{{friend.fullName}}</b><br>
                      {{friend.username}}
                    </p>
                  </div>
  
                  <button *ngIf="tabSetting=='current'" (click)="deleteFriend(friend.username)" class="btn btn2" id="delete"> 
                      <i class="material-icons">clear</i>
                  </button>

                  <button *ngIf="tabSetting=='incoming'" (click)="deleteFriend(friend.username)" style="margin-right: 5px;" class="btn btn2" id="delete"> 
                      <i class="material-icons">clear</i>
                  </button>

                  <button *ngIf="tabSetting=='incoming'" (click)="addFriend(friend.username)" class="btn btn2" id="approve"> 
                      <i class="material-icons">check</i>
                  </button>

                  <button *ngIf="tabSetting=='sent'" (click)="deleteFriend(friend.username)" class="btn btn2" id="delete"> 
                      <i class="material-icons">clear</i>
                  </button>
                </div>
            </div>
          </div>

          <!-- <button (click)="clearFriends()" class="btn btn-success" id="add-friend"> 
            <i class="material-icons">W</i>
          </button> -->

      </div> 
    </div>
  </div>

  <!-- Message bar -->
  <div class="col-xl-6">
      <div class="card example-1" id="message-card">
        <div class="card-header">Messages</div>
        
        <div class="card-body scrollbar-gray" id="message-body">
            <div class="message-history">
                <div *ngFor="let s of array">
                  Hellossssssssssssssssssssssssssssssssssssssss {{s}} <br>
                </div>
            </div>
        </div> 
        <div class="card-footer">
            <div class="message-input">
                <form>
                  <div class="input-group">
                    <textarea id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info"></textarea>
                  </div>
                </form>
            </div>
        </div>
      </div>
  </div>
</div>
