<div class="row">
  
  <!-- Search bar -->
  <div class="col">
    <div class="card" id="search-card">
      <div class="card-header">Search Users</div>
      <div class="card-body">
        <!-- Search input field -->
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Find username">
          <div class="input-group-append">
            <span class="input-group-text" id="search-append"> 
                <i class="material-icons">search</i>
            </span>
          </div>
        </div>
        fdfsd

      </div> 
    </div>
  </div>

  <!-- Friend bar -->
  <div class="col">
    <div class="card" id="friend-card">
      <div class="card-header">Friends</div>
      <div class="card-body">Content</div> 
    </div>
  </div>

  <!-- Message bar -->
  <div class="col-6">
      <div class="card" id="message-card">
        <div class="card-header">Messages</div>
        <div class="card-body" id="message-body">
            <div class="message-history">
                <div *ngFor="let s of array">
                  Hellossssssssssssssssssssssssssssssssssssssss {{s}} <br>
                </div>
            </div>
        </div> 
        <div class="card-footer">
            <div class="message-input">
                <form>
                  <div class="input-group">
                    <textarea id="msg" type="text" class="form-control" name="msg" placeholder="Additional Info"></textarea>
                  </div>
                </form>
            </div>
        </div>
      </div>
  </div>
</div>
