

    <div class="container">
        <div class="card card-profile">
            <div class="card-avatar">
                <a href="#pablo">
                    <img class="img" src="https://material.angular.io/assets/img/examples/shiba1.jpg" />
                </a>
            </div>
            <div class="card-body">
                <h6 class="card-category text-gray">{{details?.username}}</h6>
                <h4 class="card-title">{{details?.fullName}}</h4>
                <p class="card-description">
                    {{details?.bio}}
                </p>
                <div>Email: {{details?.email}}</div>
                <div>Birthday: {{details?.birthday | date:'mediumDate' }}</div>
    
                
                <a href="#pablo" class="btn btn-danger btn-round">Do Something</a>
            </div>
        </div>
    </div>


