<div class="container">
  <h1>Posts</h1>
  <div class="wrapper">
    <app-makepost></app-makepost>
    <div class="post" *ngFor="let post of posts$">
        <div class="header">
          <a routerLink="/user/{{post.user.username}}">{{post.user.firstName}} {{post.user.lastName}} - ({{post.user.username}})</a>
        </div>
        <div>
          <div class="textContent">{{post.content.text}}</div>
          <div class="date">{{post.details.date | date:'short' }}</div>
        </div>
    </div>
  </div>
</div>