/* .wrapper {
    list-style-type: none;
    margin:0;padding:0;
}
.post {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 8px;
    max-width: 70%;

}

a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color:#00A8FF;
} */

@import "~bootstrap/dist/css/bootstrap.css";


.mat-card-header {
    margin: 0 0px !important;
}

.mat-card-title {
    margin: 0 0px !important;
}
div.mat-card-header-text {
    width: 100%;
    margin: 0 -15px !important;

}

.mat-card-title {
    margin: 0 16px;
    width: 100%;
}
.textContent{

    word-wrap: break-word;
}


.img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
    align-items: center !important;
    min-width: 350px;
    place-content: stretch !important;

  }
  

  
  .example-card {
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    align-self: center;
    width: 65%;
    flex: 0 1 100% !important;

  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-card-avatar{
    background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
    background-size: cover;
}

h1{
    /* font-family: 'Grand Hotel', cursive; */
    font-family: 'Lobster', cursive;
    padding: 25px;
    font-size: 50px;
}

  @media screen and (max-width: 600px) {    
      .example-card {
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 8px;
        align-self: center;
        width: 95%;
        flex: 0 1 100% !important;
    
      }
  }